.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.sass-cache
tmp/restart.txt
tmp/*.sql
public/stylesheets/*.css
config/settings.yml
config/database.yml
.bundle-cache
public/assets/
index/
public/uploads/
public/javascripts/tedxperth.js
public/javascripts/tedxperth
public/javascripts/vendor/shuriken
public/javascripts/vendor/youthtree
public/javascripts/vendor/bhm-google-maps