- has_jammit_js :dashboard
- clicky_meta_tags

%h2 Welcome to your Dashboard

%section#inner-dashboard
  #visits-chart.dashboard-chart
  #signups-chart.dashboard-chart
    %dl
      - UserStatistics.signups_per_day.each_pair do |date, value|
        %dt= date
        %dd= value
      
    