%p#general-page-notice
  Thanks! You're now a member!
  Next, you'll likely want to check out one of the links below:

%h3 Get Started
%ul#getting-started
  %li= link_to 'View your profile', user_path(:current), :id => 'your-profile-item'
