- if logged_in?
  Signed in as
  %span#current-user= link_to current_user.to_s, user_path(:current), :title => "View your profile"
  = link_to "(sign out)", sign_out_path
- else
  Want the full experience?
  %span.auth-action= link_to "Sign up", :new_user
  or
  %span.auth-action= link_to "Sign in", :sign_in