%h2 The Next Event

%p Something goes here.

%h2 TEDxPerth Tweets

%ul#tweets-listing
  %li.loading Loading tweets...

%h2 Recent News

- posts = Post.for_sidebar.all
%ul#posts-listing
  - if posts.empty?
    %li.loading There are currently no published posts on this blog.
  - posts.each do |post|
    %li= link_to post.title, post_path(post)