%h1= link_to "TEDxPerth", :root
%section#inner-header-right
  %nav#authentication= partial 'shared/auth_nav'
  #search= partial 'shared/search'

%nav#page-navigation= partial 'shared/menu', :expanded => true