#search
  = form_tag :search, :method => "get" do
    = text_field_tag :query, "", :type => "search", :placeholder => tu("search.placeholder"), :class => "search-box"
    = button_tag "search", :type => "submit"