- content_for :extra_head do
  - if @page.keywords.present?
    = meta_tag :keywords, @page.keywords
  - if @page.description.present?
    = meta_tag :description, @page.description
    
= render_page! @page, :title => @page.title