section#posts
  p#empty-listing
    color: $posts-empty-listing
    font-size: 1.2em
    
  a.post-preview.large-preview
    display: block
    margin: 0
    padding: 0
    width: 100%
    height: 300px
    position: relative
    background: center center no-repeat
    cursor: pointer
    +border-radius(0.5em)
    .inner-preview
      cursor: pointer
      padding: 15px
      position: absolute
      bottom: 0
      left: 0
      h2, p
        cursor: pointer
      h2
        color: #000
        background: white
        margin: 0
        padding: 0.25em 0.35em
        +inline-block
        +opacity(0.9)
        +border-radius(0.25em)
        &:hover
          color: #000
      p
        margin: 1em 0 0 0
        padding: 0.5em 0.6em
        background: #F9F9F9
        color: #333
        +opacity(0.9)
        +border-radius(0.5em)
        &:hover
          color: #333
        
    
article#post
  header
    margin: 0 0 0.5em
    font-size: 0.8em
    h1
      margin-bottom: 0.25em
    p.post-metadata
      border-top: 0.1em solid $posts-meta-border
      border-bottom: 0.1em solid $posts-meta-border
      color: $posts-meta-text
      margin-bottom: 0
  p
    margin-bottom: 0.5em