$header-menu-bg: #222 !default
$header-menu-link: #E9E9E9 !default
$header-menu-hover: #FFF !default
$header-menu-active: $header-menu-link !default
$header-menu-visited: $header-menu-link !default

$footer-top-border: #DDD !default
$footer-text-colour: #555 !default
$footer-link: #444 !default
$footer-link-hover: #222 !default
$footer-link-active:  #000 !default
$footer-link-visited: #666 !default