ul.events
  padding: 0
  margin: 0 0 1.5em
  li
    padding: 0
    margin: 0.5em 0
    list-style: none
    
    &.no-events
      font-size: 1.1em
      color: $events-empty-listing
      
    &.event
      h3
        margin: 0 0 0.5em
        font-size: 1.5em
      p.event-metadata
        margin: 0.25em 0 0.5em
        padding: 0.25em 0
        border-top: 0.1em solid $posts-meta-border
        border-bottom: 0.1em solid $posts-meta-border
        color: $posts-meta-text

article#event
  
  #event-image
    width: 100%
    height: 300px
    padding: 0
    margin: 0 0 2em
    background: #EEE center center no-repeat
    position: relative
    +border-radius(0.5em)
    
    h1
      position: absolute
      top: 0
      left: 0
      margin: 0
      padding: 15px
      width: 100%
      background: #FFF
      z-index: 50
      +opacity(0.85)
  
    dl#event-information
      z-index: 50
      position: absolute
      bottom: 0
      left: 0
      background: white
      margin: 0
      padding: 0.5em 0 0.3em
      width: 100%
      font-size: 1.1em
      color: $events-information-text
      clear: both
      +clearfix
      line-height: 1.8em
      vertical-align: middle
      +opacity(0.85)
      dt
        font-weight: bold
        color: darken($events-information-text, 50%)
        width: 10%
        float: left
        clear: left
        padding: 0 0 0 0.8em
      dd
        float: left
        padding: 0 0.8em 0 0

    #attendance
      z-index: 75
      position: absolute
      top: 12px
      right: 15px
      margin: 0
      font-size: 1.2em
      form
        margin: 0
        padding: 0
        display: inline
        button
          +fancy-button-structure(14px)
          +fix-fb-padding(7px, 12px)
      &.attending button
        +fancy-button-colors($events-withdraw-button)
      &.attend button
        +fancy-button-colors($events-attend-button)

  ul#event-videos
    margin: 0
    padding: 0
    li.event-not-completed
      list-style: none
      color: $events-information-text
      font-size: 1.1em
      margin: 0 0 1em
    li.event-video
      list-style: none
      margin: 0 0 1em
      padding: 0
      .video-embed
        display: none
        text-align: center
        padding: 0
        margin: 0
    
        video, object, embed
          margin: 1em 0
          background: black
      p.video-description
        margin: 0
      .video-controls
        +clearfix
        a.video-title
          +header-font-stack
          float: left
          font-size: 1.2em
        a.show-video, a.hide-video
          float: right
          display: none
  p.video-copyright-notice
    font-size: 0.8em
    margin: 1em 0
    text-align: left
    color: $event-video-copyright
    a
      font-weight: bold
      +link-colors(darken($event-video-copyright, 40%), darken($event-video-copyright, 15%))
      &:hover
        text-decoration: underline

#venue-map
  margin-bottom: 1em
  .gmap
    width: 700px
    height: 350px