ul.events
  padding: 0
  margin: 0 0 1.5em
  li
    padding: 0
    margin: 0.5em 0
    list-style: none
    
    &.no-events
      font-size: 1.1em
      color: $events-empty-listing
      
    &.event
      h3
        margin: 0 0 0.5em
        font-size: 1.5em
      p.event-metadata
        margin: 0.25em 0 0.5em
        padding: 0.25em 0
        border-top: 0.1em solid $posts-meta-border
        border-bottom: 0.1em solid $posts-meta-border
        color: $posts-meta-text