header
  text-align: center
  h1
    font-weight: bold
    margin: 0.5em 0
  nav
    border-top: 0.1em solid #DDD
    border-bottom: 0.1em solid #DDD
    padding: 0.5em 0
    margin: 0 0 1.5em
    font-weight: bold
    ul
      +inline-list
      padding: 0
      margin: 0
      li
        margin: 0 1em