@import "compass/css3/font-face"

+font-face("CartoGothic Std", font-files("/fonts/cartogothicstd-bold.woff", woff, "/fonts/cartogothicstd-bold.ttf", truetype, "/fonts/cartogothicstd-bold.svg#webfont", svg), "/fonts/cartogothicstd-bold.eot")
+font-face("Inconsolata-dz", font-files("/fonts/inconsolata-dz.woff", woff, "/fonts/inconsolata-dz.ttf", truetype, "/fonts/inconsolata-dz.svg#webfont", svg), "/fonts/inconsolata-dz.eot")

=sans-font-stack
  font-family: "Helvetica Neue", "Helvetica", "Verdana", "Arial"

=header-font-stack
  font-family: "CartoGothic Std", "Helvetica Neue", "Helvetica", "Verdana", "Arial"
  text-align: center

=code-font-stack
  font-family: "Inconsolata-dz", "Inconsolata-g", "Inconsolata", "Bitstream Vera Sans Mono", "Courier", "Sans-Serif"
